.about {
  display: flex;
  flex-direction: column;
  padding: var(--top-padding) var(--sides-padding);
  gap: 100px;

  > :nth-child(even) {
    display: flex;
    flex-direction: row-reverse;

    @media (max-width: 1024px) {
      flex-direction: column;

      align-items: flex-start;
      justify-content: flex-start;
      p {
        width: 100%;
      }
    }
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: 1024px) {
      flex-direction: column;

      align-items: flex-start;
      justify-content: flex-start;
      p {
        width: 100%;
      }
    }

    img {
      max-width: calc(50% - 20px);

      @media (max-width: 768px) {
        width: 70%;
        max-width: 500px;
      }

      @media (max-width: 480px) {
        width: 100%;
        max-width: 500px;
      }
    }
  }

  li {
    margin-left: 20px;
  }

  &_sertificate {
    padding: var(--top-padding) var(--sides-padding);
    display: flex;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
    gap: 30px;

    &_content {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 10px));
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;

      @media (max-width: 960px) {
        flex-direction: column;

        grid-template-columns: repeat(1, 1fr);
      }
    }

    &_left {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: calc(100% / 2 - 10px);
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      gap: 10px;

      font-size: 22px;
      font-weight: 400;
      color: var(--text-primary);
      line-height: 1.5;

      @media (max-width: 960px) {
        font-size: 18px;
        padding: var(--sides-padding);
      }
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }

  p {
    font-size: 22px;
    font-weight: 400;
    color: var(--text-primary);
    line-height: 1.5;
    width: 50%;

    @media (max-width: 768px) {
      font-size: 18px;
    }
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }

  img {
    width: 50%;
    object-fit: contain;
    object-position: top;
  }

  @media (max-width: 1024px) {
    gap: 50px;
  }
}

.contacts {
  display: flex;
  margin-top: 20px;

  &_left {
    padding: var(--top-padding) var(--sides-padding);
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-size: 20px;
      font-weight: 500;
      color: var(--text-primary);
    }

    a {
      color: var(--text-primary);
      text-decoration: none;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;

      &:hover {
        color: var(--text-secondary);
      }
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  iframe {
    width: 50%;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &_left {
      width: 100%;
      padding: var(--top-padding) var(--sides-padding);
    }

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }
}

.title {
  font-size: 36px;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 28px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
    text-align: center;
  }
}
