.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
  gap: 50px;
  padding: var(--top-padding) var(--sides-padding);
  background: var(--bg-primary);

  &_logo {
    color: var(--text-secondary);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
    cursor: pointer;

    img {
      height: 60px;
      object-fit: contain;
    }

    &_text {
      display: flex;
      font-family: "Inter", sans-serif;
      flex-direction: column;
      font-weight: 600;
      font-size: 26px;
      align-items: flex-start;
      letter-spacing: 2px;
    }
  }

  &_links {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;

    a,
    div {
      color: var(--text-primary);
      text-decoration: none;
      font-weight: 600;
      font-size: 23px;
      display: flex;
      flex-direction: column;
      position: relative;
      cursor: pointer;
      font-family: "SF Pro Text", sans-serif;

      section {
        display: none;
      }

      &:hover {
        section {
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: fit-content;
          white-space: nowrap;
          background: #fff;
          position: absolute;
          top: 100%;
          @media (max-width: 1024px) {
            position: relative;
            white-space: wrap;
          }
        }
      }

      &:hover {
        color: var(--text-secondary);
      }

      &.active {
        color: var(--text-secondary);
      }

      &.active:hover {
        color: var(--text-secondary);
      }

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    > section {
      margin-left: auto;

      select {
        height: 35px;
        border-radius: 10px;
        padding: 5px 10px;
      }
    }
  }

  &_burger {
    display: none;

    @media (max-width: 1024px) {
      z-index: 2;
      background: var(--bg-primary);
      display: block;
      width: 40px;
      height: 40px;
      cursor: pointer;
      border: none;
      padding: 5px;

      &.active {
        transform: rotate(90deg);
      }

      span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--text-primary);
        margin-bottom: 5px;
        transition: all 0.3s ease;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    p {
      font-size: 24px;
      margin-top: -4px;
    }
  }

  @media (max-width: 1024px) {
    gap: 20px;
  }

  @media (max-width: 1024px) {
    justify-content: space-between;

    &_links {
      z-index: 2 !important;
      display: none;
      width: 100%;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      position: fixed;
      top: 100px;
      right: 20px;
      background: var(--bg-primary);
      max-width: 300px;
      -webkit-box-shadow: -1px 1px 10px 1px rgba(34, 60, 80, 0.18);
      -moz-box-shadow: -1px 1px 10px 1px rgba(34, 60, 80, 0.18);
      box-shadow: -1px 1px 10px 1px rgba(34, 60, 80, 0.18);
      border-radius: 10px;

      a {
        width: 100%;
        padding: 10px;
      }
    }

    &.active {
      .header_links {
        display: flex;
      }

      &::after {
        content: "";
        position: fixed;
        background: #00000080;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
      }
    }
  }

  @media (max-width: 340px) {
    &_links {
      border-radius: 0;
      right: 0;
      max-width: 100%;
    }
  }
}
