.home {
  display: flex;
  flex-direction: column;

  &_banner {
    position: relative;

    img {
      width: 100%;
      height: calc(100vh - 100px);
      object-fit: cover;
      position: relative;
      width: 100%;
      object-fit: cover;
      pointer-events: none;

      // &::-webkit-media-controls {
      //   display: none !important;
      // }

      // &::-webkit-media-controls-panel {
      //   display: none !important;
      //   -webkit-appearance: none;
      //   opacity: 0;
      //   visibility: hidden;
      // }
      // &::-webkit-media-controls-play-button {
      //   display: none !important;
      //   -webkit-appearance: none;
      //   opacity: 0;
      //   visibility: hidden;
      // }
      // &::-webkit-media-controls-start-playback-button {
      //   display: none !important;
      //   -webkit-appearance: none;
      //   opacity: 0;
      //   visibility: hidden;
      // }
    }

    p {
      position: absolute;
      top: 50%;
      left: var(--sides-padding);
      transform: translateY(-50%) scale(1) !important;
      font-size: 48px;
      inline-size: 500px;
      font-weight: 600;
      color: var(--white);
      @media (max-width: 768px) {
        font-size: 32px;
        inline-size: 45%;
      }
      @media (max-width: 480px) {
        font-size: 20px;
        display: none;
      }
    }
  }

  &_title {
    font-size: 36px;
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 480px) {
      font-size: 24px;
      text-align: center;
    }
  }

  &_subtitle {
    font-size: 28px;
    font-weight: 400;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }

    @media screen and (max-width: 480px) {
      font-size: 18px;
    }
  }

  &_text {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-primary);
    margin-top: 20px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &_categories {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    padding: var(--top-padding) var(--sides-padding);
    width: 100%;
    overflow-x: hidden;

    &_carousel {
      overflow: visible;
      section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        a {
          font-size: 22px;
          font-weight: 400;

          span {
            width: 24px;
            height: 24px;
            margin-left: 10px;
            color: var(--primary-color);
            font-size: 18px !important;
          }
        }
      }
    }

    &_item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      box-shadow: 0px 5px 10px -4px rgba(34, 60, 80, 0.2);
      padding: 20px;
      border-radius: 20px;
      padding-bottom: 150px;
      margin: 10px;
      transition: all 0.3s ease-in-out;

      * {
        user-select: none;
      }

      p {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: var(--text-primary);
        transition: color 0.3s ease-in-out;

        &:hover {
          color: var(--text-secondary);
        }
      }

      span {
        font-size: 21px;
        font-weight: 600;
        text-align: center;
        display: block;
        margin-top: 10px;
        color: var(--text-primary);
        transition: color 0.3s ease-in-out;

        &:hover {
          color: var(--text-secondary);
        }
      }

      img {
        width: 100%;
        object-fit: contain;
        aspect-ratio: 8/5.6;
      }

      &:hover {
        box-shadow: 0px 10px 20px 0px rgba(34, 60, 80, 0.2);
      }
    }
  }

  &_infoBlock {
    width: 100%;
    overflow: hidden;
    display: flex;
    background: var(--gray);
    padding: var(--top-padding) var(--sides-padding);
    gap: 20px;

    section {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;

      h1,
      p {
        text-align: center;
      }
    }

    figure {
      width: 50%;
      height: 100%;
      display: flex;
      gap: 20px;

      img {
        width: calc(50% - 10px);
        object-fit: cover;
        height: 100%;
        transform: rotate(0);
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: rotate(5deg) scale(1.05);
        }
      }
    }
    @media (max-width: 1200px) {
      flex-direction: column;

      figure,
      section {
        width: 100%;
      }
    }
  }

  &_new_items {
    padding: var(--top-padding) var(--sides-padding);
    margin-top: 20px;

    h1 {
      margin-bottom: 20px;
    }
  }

  &_advantages {
    display: flex;
    flex-direction: column;

    &_top {
      display: flex;
      align-items: center;
      padding: var(--top-padding) var(--sides-padding);
      padding-bottom: 0;

      p {
        padding: 10px;
        cursor: pointer;
        border-right: 3px solid var(--gray);
      }

      p:last-child {
        border-right: none;
      }
    }

    &_content {
      padding: var(--top-padding) var(--sides-padding);
      background: var(--gray);

      div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      li {
        margin-left: 14px !important;
      }

      p {
        font-size: 22px;
        font-weight: 400;
        color: var(--text-primary);
        line-height: 1.5;
        width: 50%;

        @media (max-width: 768px) {
          font-size: 18px;
        }
        @media (max-width: 480px) {
          font-size: 16px;
        }
      }

      img {
        width: 40%;
        aspect-ratio: 1/1;
        object-fit: contain;
      }
    }

    @media (max-width: 700px) {
      display: none;
    }

    &_mob {
      display: none;

      @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
        gap: 20px;

        > div {
          margin: 10px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          border-radius: 10px;

          > p {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }

        li {
          margin-left: 14px !important;
        }

        &_item {
          display: flex;
          gap: 30px;
          flex-direction: column;
          width: 100%;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  &_companyAdv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px 0;
    padding: var(--top-padding) var(--sides-padding);
    gap: 20px;

    &_item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      svg {
        color: var(--text-secondary);
        font-size: 64px;
      }

      p {
        font-size: 20px;
        font-weight: 600;
        color: var(--text-primary);
      }

      span {
        font-size: 16px;
        font-weight: 400;
        color: var(--text-primary);
      }
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &_sertificate {
    padding: var(--top-padding) var(--sides-padding);
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    gap: 30px;

    &_content {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 10px));
      gap: 20px;

      @media (max-width: 768px) {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &_left {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: calc(100% / 2 - 10px);
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &_clients {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    padding: var(--top-padding) var(--sides-padding);
    width: 100vw;
    overflow: hidden;
  }

  &_contacts {
    display: flex;
    margin-top: 20px;

    &_left {
      padding: var(--top-padding) var(--sides-padding);
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        font-size: 20px;
        font-weight: 500;
        color: var(--text-primary);
      }

      a {
        color: var(--text-primary);
        text-decoration: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        &:hover {
          color: var(--text-secondary);
        }
      }

      section {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    iframe {
      width: 50%;
    }

    @media (max-width: 768px) {
      flex-direction: column;

      &_left {
        width: 100%;
        padding: var(--top-padding) var(--sides-padding);
      }

      iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
  }
}

@keyframes clients {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 12px 0;

  &__inner {
    display: inline-block;
    animation: marquee 20s linear infinite;
  }

  &__item {
    font-size: 18px;
    height: 70px;
    object-fit: contain;
    color: #555;
    margin: 0 30px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
