@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Bahnschrift";
  src: url("./assets/Bahnschrift.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/sf-pro-text_regular.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.root {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: "SF Pro Text", sans-serif;
}

button,
select,
input {
  cursor: pointer;
  outline: none;
}

:root {
  --bg-primary: #fff;
  --top-padding: 20px;
  --sides-padding: 100px;
  --text-primary: #000;
  --text-secondary: rgb(82, 122, 101);
  --white: #fff;
  --gray: #f2f2f2;

  @media (max-width: 1200px) {
    --sides-padding: 60px;
  }

  @media (max-width: 1024px) {
    --sides-padding: 40px;
  }

  @media (max-width: 768px) {
    --sides-padding: 20px;
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.header_link.active {
  color: var(--text-secondary);
}

.swiper-custom-bullet {
  height: 10px;
  width: 10px;
  display: block;
  z-index: 11;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  background-color: #597a6550;
}

.swiper-custom-bullet.swiper-custom-bullet-active {
  height: 10px;
  display: block;
  width: 10px;
  background-color: var(--text-secondary);
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.next-arrow,
.prev-arrow {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 64px;
  color: #597a65;
  z-index: 9999999;
  cursor: pointer;
}

.prev-arrow {
  left: -10px;
}

.element-animation {
  opacity: 0;
  transform: translateY(-40px);
  transition: all 0.8s ease;
}

.element-animation.el {
  transform: translateY(0) translateX(-40px);
}

.element-animation.er {
  transform: translateY(0) translateX(40px);
}

.element-animation.eb {
  transform: translateY(40px);
}

.element-animation.es {
  transform: scale(0.6);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 0.8s;
  transition-delay: 0.4s;
  transform: translateY(0) scale(1);
}

@media (max-witdh: 768px) {
  .element-animation {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.8s ease;
  }

  .element-animation.el {
    transform: translateY(0) translateX(-30px);
  }

  .element-animation.er {
    transform: translateY(0) translateX(30px);
  }

  .element-animation.eb {
    transform: translateY(30px);
  }
}
